<ion-content class="bgGray">
  <nav>
    <a (click)="back()" alt="Return" class="button left">
      <svg width="20" height="10" xmlns="http://www.w3.org/2000/svg"><path d="M0 5l6-5v4h14v2H6v4z" fill="#000" fill-rule="evenodd"/></svg>
    </a>
    <div class="content">
      <img src="assets/imgs/logo-us-horizontal.svg" width="136" height="24" class="verticallyCenter" />
    </div>
    <!-- <a href="00-menu.html" alt="Menu" class="button right">
        <svg width="20" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M4 6h12v2H4V6zm-4 6h20v2H0v-2zM0 0h20v2H0V0z" fill="#000" fill-rule="evenodd"/></svg>
    </a> -->
  </nav>
  <div class="signUp">
    <ion-row>
      <p *ngIf="scope == 'email'">
        Esqueceu sua senha?<br/>Informe seu e-mail de cadastro
      </p>
      <p *ngIf="scope != 'email'">
        Você acessou com sua senha temporária.<br>Crie uma nova senha
      </p>
    </ion-row>
    <ion-row>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <ion-row *ngIf="scope != 'email'">
          <label>
            <div class="verticallyCenter">
              <span>Defina uma senha</span>
              <input formControlName="password" type="password" placeholder="Pelo menos 6 caracteres" />
            </div>
          </label>
          <label>
            <div class="verticallyCenter">
              <span>Repita a senha</span>
              <input formControlName="repassword" type="password" placeholder="Confirme a senha" />
            </div>
          </label>
        </ion-row>
        <ion-row *ngIf="scope == 'email'">
          <label>
            <div class="verticallyCenter">
              <span>E-mail de cadastro</span>
              <input formControlName="email" type="email" placeholder="Confirme seu e-mail" />
            </div>
          </label>
        </ion-row>
        <a (click)="submit()" class="button">{{scope == 'email' ? 'Enviar' : 'Alterar senha'}}</a>
        <button type="submit" style="position:fixed;left:-5000px">.</button>
      </form>
    </ion-row>
  </div>
</ion-content>
