page-service-provider {
  .card .content .button.secondary {
    line-height: 46px;
    box-shadow: none;
    height: 46px;
  }
  ion-select {
    display: block;
    width: 100%;
    margin: 0;
    max-width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
  }
}
