<ion-content class="bgGray">
  <nav>
      <a (click)="back()" alt="Return" class="button left">
          <svg width="20" height="10" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 5l6-5v4h14v2H6v4z" fill="#000" fill-rule="evenodd" /> </svg>
      </a>
      <div class="content">
          <img src="assets/imgs/logo-us-horizontal.svg" width="136" height="24" class="verticallyCenter" />
      </div>
      <a (click)="navigateToMenu()" alt="Menu" class="button right">
          <svg width="20" height="14" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 6h12v2H4V6zm-4 6h20v2H0v-2zM0 0h20v2H0V0z" fill="#000" fill-rule="evenodd" /> </svg>
      </a>
  </nav>
  <div class="serviceProvider">
      <p> Veja os prestadores de <br />serviço de limpeza: </p>
      <p>{{data}}</p>
      <div *ngFor="let item of providers.data.items" class="card">
          <div class="content">
              <div class="avatar">
                <img *ngIf="item?.profile_image?.crops['60x60']?.url" [src]="apiHost + '/users/media?sourcepath=' + item?.profile_image?.crops['60x60']?.url" width="56" />
              </div>
              <p class="distance">
                {{item.address?.loc?.distance / 1000 | number: '1.1-1'}}km de você
              </p>
              <h3>
                  {{item?.first_name || '' | truncate:[16, '...']}}
              </h3>
              <ul class="rate">
                <li>
                    <img [src]="item.rating?.average >= 1 ? 'assets/imgs/star-full.svg' : 'assets/imgs/star-empty.svg'" width="13" height="12" />
                </li>
                <li>
                    <img [src]="item.rating?.average >= 2 ? 'assets/imgs/star-full.svg' : 'assets/imgs/star-empty.svg'" width="13" height="12" />
                </li>
                <li>
                    <img [src]="item.rating?.average >= 3 ? 'assets/imgs/star-full.svg' : 'assets/imgs/star-empty.svg'" width="13" height="12" />
                </li>
                <li>
                    <img [src]="item.rating?.average >= 4 ? 'assets/imgs/star-full.svg' : 'assets/imgs/star-empty.svg'" width="13" height="12" />
                </li>
                <li>
                    <img [src]="item.rating?.average >= 5 ? 'assets/imgs/star-full.svg' : 'assets/imgs/star-empty.svg'" width="13" height="12" />
                </li>
                <li>
                  {{item.rating?.count_rating || 0}} {{item.rating?.count_rating === 1 ? 'avaliação' : 'avaliações'}}
                </li>
              </ul>
              <p class="info">
                {{item?.description||'' | truncate:[150, '...']}}
              </p>
              <ion-row>
                <ion-col col-6>
                  <a (click)="selectProvider(item)" class="button secondary">
                    Ver perfil
                  </a>
                </ion-col>
                <ion-col col-6>
                  <ion-select interface="action-sheet" cancelText="Fechar">
                    <ion-option (ionSelect)="selectContact($event, item)" value="whatsapp">Chamar no WhatsApp</ion-option>
                    <ion-option (ionSelect)="selectContact($event, item)" value="phone">Ligar para {{item?.phone}}</ion-option>
                  </ion-select>
                  <a (click)="void" class="button">
                    Contato
                  </a>
                </ion-col>
              </ion-row>
          </div>
      </div>
  </div>
</ion-content>
